{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>Toutes les séries de cette catégorie sont: </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} (id:{{ program.id }}) - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

{% endblock %}